@using YUNXI.EDUS
@model YUNXI.EDUS.Web.Models.Layout.FooterViewModel
@{
    Layout = null;
}


<!-- To the right -->

<div class="pull-right hidden-xs">
    <strong>Copyright &copy; 2017-2018 @L("FootTagWimi").</strong> All rights reserved.
</div>
version @(BtlVersionHelper.Version)
