<div class="content-header">

    <h1>

        @L("WelcomePage_Title")<small> </small>

    </h1>

</div>


<section class="content">

    <div class="row">

        <div class="col-md-12">

            @L("WelcomePage_Info")
        </div>

    </div>

</section>